-# in app/views/users/show.html.haml

%h2 Details about #{@user.user_id}

%ul#details
  %li
    User Id:
    = @user.user_id
  %li
    Email:
    = @user.email
  %li
    Session Token:
    = @user.session_token

= link_to 'Edit', edit_user_path(@user)
= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to user list', users_path